# --- Core framework ---
fastapi
uvicorn[standard]

# --- Database ---
sqlalchemy
psycopg2-binary
alembic

# --- Auth / Security ---
python-jose[cryptography]
passlib==1.7.4
bcrypt==3.2.2
# --- Validation / Schemas ---
pydantic[email]

# --- HTTP / Requests ---
httpx

# --- Testing ---
pytest
pytest-asyncio

# --- Maachine Learning ---
joblib
pandas
scikit-learn

# --- Misc ---
python-dotenv
